$primary-color-10: #E6F4F6;
$primary-color-25: #B1DEE4;
$primary-color-main: #0293A7;
$primary-color-75: #026E7D;
$primary-color-100: #01333A;

$accent-color-10: #FEF0E6;
$accent-color-25: #F8BF97;
$accent-color-main: #DE6B35;
$accent-color-75: #94390F;
$accent-color-100: #622508;

$neutral-color-white: #FFFFFF;
$neutral-color-grey-l: #C5C5C5;
$neutral-color-grey: #818080;
$neutral-color-grey-d: #524FAF;
$neutral-color-black: #000000;

$semantic-green-10: #D5FAC8;
$semantic-green-success: #61DE35;
$semantic-green-100: #398C1C;

$semantic-red-10: #FCCFCF;
$semantic-red-error: #DE3535;
$semantic-red-100: #991F1F;