@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Raleway&display=swap");
/* BUTTONS --------------- */
button.filled-default,
button.filled-default-next {
  background-color: #0293A7;
  color: #FCF9F7;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-default:hover,
button.filled-default-next:hover {
  background-color: #01333A;
  color: #FCF9F7;
  border: 2px solid #01333A;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-default:active,
button.filled-default-next:active,
button.outline-default:active {
  background-color: #B1DEE4;
  color: #01333A;
  border: 2px solid #01333A;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-default:disabled,
button.filled-default-next:disabled {
  background-color: #C5C5C5;
  color: #818080;
  border: 2px solid #C5C5C5;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-default,
button.outline-default-mob,
button.outline-default-next,
button.outline-default-next-mob {
  background-color: #FCF9F7;
  color: #0293A7;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-hover,
button.outline-hover-next {
  background-color: #0293A7;
  color: #FCF9F7;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-disabled,
button.outline-disabled-next {
  background-color: #FCF9F7;
  color: #818080;
  border: 2px solid #818080;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-default-mob,
button.filled-default-next-mob {
  background-color: #0293A7;
  color: #FCF9F7;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.font {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: bold;
}

.hero-section-title-web {
  font-family: "Baloo 2";
  font-size: 55px;
}

.titles-web {
  font-family: "Baloo 2";
  font-size: 32px;
}

.card-heading-web {
  font-family: "Raleway";
  font-size: 22px;
}

.sub-heading-web {
  font-family: "Raleway";
  font-size: 20px;
}

.paragraph-web {
  font-family: "Raleway";
  font-size: 16px;
}

.hero-section-title-mob {
  font-family: "Baloo 2";
  font-size: 30px;
}

.titles-mob {
  font-family: "Baloo 2";
  font-size: 26px;
}

.card-heading-mob {
  font-family: "Raleway";
  font-size: 20px;
}

.sub-heading-mob {
  font-family: "Raleway";
  font-size: 18px;
}

.header-link {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: bold;
}

.header-login {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: bold;
}

.sub-nav-link {
  font-family: "Raleway";
  font-size: 18px;
}

.paragraph-mob {
  font-family: "Raleway";
  font-size: 15px;
}

/*Input Text----------*/
#input-text,
#focus-text,
#error-text {
  width: 360px;
  height: 44px;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
}

#input-text::placeholder {
  color: #818080;
}

#focus-text {
  border-color: #0293A7;
}

#error-text {
  border-color: #DE3535;
}

#checked-checkbox,
#selected-radio {
  accent-color: #0293A7;
}

.toggle-switch {
  position: relative;
  display: flex;
  width: 32px;
  height: 16px;
  border-radius: 10px;
  border: 2px solid #818080;
}

.toggle-switch::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #818080;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}

#toggle-off {
  display: none;
}

#toggle-off:checked + .toggle-switch {
  background-color: #0293A7;
  border-color: #0293A7;
}

#toggle-off:checked + .toggle-switch::after {
  left: 17px;
  background-color: #FCF9F7;
}

/*Header section ------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.logo img {
  width: 150px;
}

header a {
  text-decoration: none;
  color: #0F0500;
}

.hamburger-menu a {
  display: block;
}

.main-menu ul.header-link {
  list-style-type: none;
  display: none;
}

.main-menu ul li a:hover {
  color: #0293A7;
}

.login {
  display: none;
  text-align: center;
  border-top: 1px solid #818080;
  margin: 2%;
}

.login a {
  color: #0293A7;
}

.find-pet-dd {
  display: none;
  min-width: 120px;
  border: 2px solid #0F0500;
  list-style-type: none;
  padding: 0;
  background-color: #fff;
}

.find-pet-dd a {
  color: #818080;
  padding: 10px 2%;
  display: block;
  text-align: left;
}

ul.find-pet a {
  color: #818080;
}

.menu {
  transform: translateX(100%);
}

.menu-mob {
  position: fixed;
  z-index: 1;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1.5s ease-in;
  transform: translateX(0);
  backdrop-filter: blur(3px);
  background-color: #FCF9F7;
}

@media screen and (min-width: 460px) {
  .logo img {
    width: 200px;
  }
  .find-pet-dd {
    position: absolute;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    transform: none;
  }
  .hamburger-menu a {
    display: none;
  }
  header.menu {
    display: flex;
    justify-content: space-between;
  }
  .main-menu ul.header-link {
    display: flex;
    gap: 1rem;
  }
  .login {
    display: block;
    border: unset;
  }
}
/*Footer section ------------*/
footer {
  background-color: #FEF0E6;
  padding: 5%;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.app-logo {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.app-logo img {
  width: 200px;
}

.quick-link ul {
  list-style-type: none;
}

.quick-link a,
.about-us a {
  text-decoration: none;
  color: #0F0500;
}

.quick-link h2,
.about-us h2 {
  color: #94390F;
}

.quick-link li, .team {
  display: flex;
  align-items: center;
}

.copyright {
  border-top: 1px solid #026E7D;
  text-align: center;
  color: #94390F;
}

.copyright span {
  color: #026E7D;
}

@media screen and (min-width: 820px) {
  .footer-links {
    display: flex;
    justify-content: space-between;
  }
  .quick-link ul {
    display: flex;
    gap: 1rem;
    padding: 0;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
