@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@300;700&family=Raleway:wght@300;700&display=swap");
button, a {
  cursor: pointer;
}

button.google-btn {
  width: 235px;
  height: 56px;
  border-radius: 3rem;
  background-color: #FFFFFF;
  border: 1px solid #C5C5C5;
  font-size: 18px;
}

button.google-btn:hover {
  background-color: #C5C5C5;
  color: #FFFFFF;
}

button.filled-btn,
button.filled-next-btn,
button.filled-mob-btn,
button.filled-next-mob-btn {
  background-color: #0293A7;
  color: #FFFFFF;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-btn:hover,
button.filled-next-btn:hover {
  background-color: #01333A;
  color: #FFFFFF;
  border: 2px solid #01333A;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-btn:active,
button.filled-next-btn:active,
button.filled-mob-btn:active,
button.filled-next-mob-btn:active {
  background-color: #B1DEE4;
  color: #01333A;
  border: 2px solid #01333A;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-btn:disabled,
button.filled-next-btn:disabled {
  background-color: #C5C5C5;
  color: #818080;
  border: 2px solid #C5C5C5;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.grayscale-outline-btn {
  background-color: #FFFFFF;
  color: #6a6a6a;
  border: 2px solid #6a6a6a;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.grayscale-outline-btn:hover {
  background-color: #6a6a6a;
  color: #FFFFFF;
  border: 2px solid #6a6a6a;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-btn,
button.outline-next-btn,
button.outline-mob-btn,
button.outline-next-mob-btn {
  background-color: #FFFFFF;
  color: #0293A7;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-btn:hover,
button.outline-next-btn:hover {
  background-color: #0293A7;
  color: #FFFFFF;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-btn-gray {
  background-color: #FFFFFF;
  color: #C5C5C5;
  border: 2px solid #C5C5C5;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-btn-gray:disabled,
button.outline-btn:disabled {
  background-color: #C5C5C5;
  color: #818080;
  border: 2px solid #C5C5C5;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
  cursor: default;
}

button.outline-btn-gray:hover {
  background-color: #C5C5C5;
  color: #818080;
  border: 2px solid #C5C5C5;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-mob-btn:hover {
  background-color: #026E7D;
  color: #FFFFFF;
  border: 2px solid #026E7D;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-btn:active,
button.outline-next-btn:active,
button.outline-mob-btn:active,
button.outline-next-mob-btn:active {
  background-color: #B1DEE4;
  color: #01333A;
  border: 2px solid #01333A;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-btn:disabled,
button.outline-next-btn:disabled {
  background-color: #FFFFFF;
  color: #C5C5C5;
  border: 2px solid #C5C5C5;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.font {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: bold;
}

.hero-section-title-web {
  font-family: "Baloo 2";
  font-size: 55px;
}

.titles-web {
  font-family: "Baloo 2";
  font-size: 32px;
}

.card-heading-web {
  font-family: "Raleway";
  font-size: 22px;
}

.sub-heading-web {
  font-family: "Raleway";
  font-size: 20px;
}

.paragraph-web {
  font-family: "Raleway";
  font-size: 16px;
}

.hero-section-title-mob {
  font-family: "Baloo 2";
  font-size: 34px;
}

.titles-mob {
  font-family: "Baloo 2";
  font-size: 26px;
}

.card-heading-mob {
  font-family: "Raleway";
  font-size: 20px;
}

.sub-heading-mob {
  font-family: "Raleway";
  font-size: 18px;
}

.header-link a {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
}

.header-login {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: bold;
}

.sub-nav-link {
  font-family: "Raleway";
  font-size: 18px;
}

.paragraph-mob {
  font-family: "Raleway";
  font-size: 15px;
}

.label {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: bold;
}

/*Input Text----------*/
.text-input {
  height: 40px;
  border-radius: 0.3rem;
  padding: 0 1rem;
  border: 1px solid #C5C5C5;
  font-family: "Raleway";
  font-size: 16px;
}

.text-input::placeholder {
  color: #818080;
}

.text-input:focus {
  outline: none;
  border-color: #0293A7;
}

.text-input:invalid {
  outline: none;
  border-color: #DE3535;
}

input[type=radio] :checked {
  accent-color: #0293A7;
}

.toggle-switch {
  position: relative;
  display: flex;
  width: 32px;
  height: 16px;
  border-radius: 10px;
  border: 2px solid #818080;
}

.toggle-switch::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #818080;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}

.toggle-off {
  display: none;
}

.toggle-off:checked + .toggle-switch {
  background-color: #0293A7;
  border-color: #0293A7;
}

.toggle-off:checked + .toggle-switch::after {
  left: 17px;
  background-color: #FFFFFF;
}

.container-2400 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1200px;
}

/* Global Styling ============================ */
body, h1, h2, p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  display: block;
}

h2 {
  font-family: "Raleway";
  font-size: 18px;
}

h3 {
  font-family: "Raleway";
  font-size: 16px;
}

p, td, ul a {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
}

label, legend, tr {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
}

.modal-content .close {
  text-align: right;
}

/* Header section ============================ */
header,
.mobile-nav .mobile-logo {
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 3px 7px -7px #C5C5C5;
  padding: 0 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

header a {
  padding: 0.5rem;
}

.main-menu ul.header-link {
  list-style-type: none;
}

.main-menu ul li a:hover {
  color: #0293A7;
}

.header-link li.selected {
  border-bottom: 2px solid #0293A7;
  color: #0293A7;
  font-weight: 700;
}

.header-link li.selected a {
  color: #0293A7;
  font-weight: 900;
}

.find-pet-dd {
  display: none;
  min-width: 120px;
  border: 2px solid #000000;
  list-style-type: none;
  padding: 0;
  background-color: #fff;
}

.find-pet-dd a {
  color: #818080;
  padding: 10px 2%;
  display: block;
  text-align: left;
}

ul.find-pet a {
  color: #818080;
}

.menu {
  transform: translateX(100%);
}

.menu-mob {
  position: fixed;
  z-index: 1;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1.5s ease-in;
  transform: translateX(0);
  backdrop-filter: blur(3px);
  background-color: #FFFFFF;
}

.hamburger-menu {
  display: none;
}

.main-menu ul.header-link {
  display: flex;
  gap: 1rem;
}

.logo img,
.mobile-logo img {
  width: 250px;
}

.find-pet-dd {
  position: absolute;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  transform: none;
}

header.menu {
  display: flex;
  justify-content: space-between;
}

.mobile-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  height: 100vh;
  padding: 0.5rem 0;
  background-color: white;
  z-index: 99999;
}

@media screen and (min-width: 1500px) {
  .header-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
@media screen and (max-width: 800px) {
  .hamburger-menu {
    display: block;
  }
  .main-menu {
    display: none;
  }
  .mobile-nav .mobile-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-nav .mobile-logo .close {
    width: 1.5rem;
  }
  .mobile-nav ul li {
    border-bottom: 1px solid #f0f0f0;
  }
  .mobile-nav ul li:hover a,
  .mobile-nav ul li:active a {
    background-color: #0293A7;
    color: #FFFFFF;
    font-weight: 900;
  }
  .mobile-nav ul a {
    padding: 1.5rem;
  }
  .mobile-nav.open {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 900px) {
  .logo img,
  .mobile-logo img {
    width: 200px;
  }
}
/*Footer section ------------*/
footer {
  background-color: #FEF0E6;
  padding: 0 1rem;
  margin-top: auto;
}

.footer-container {
  padding: 1rem 0.5rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem 0;
}

.app-logo {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.app-logo img {
  width: 250px;
}

.quick-link ul,
.team {
  padding: 1rem 0;
}

footer a {
  font-family: "Raleway";
  font-size: 16px;
}

footer h2,
footer h2 {
  color: #94390F;
  font-family: "Raleway";
  font-size: 18px;
}

.quick-link li, .team {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.copyright {
  padding: 0.5rem 0;
  border-top: 1px solid #C5C5C5;
  text-align: center;
  color: #94390F;
}

.copyright p {
  font-family: "Raleway";
  font-size: 12px;
}

.copyright span {
  color: #026E7D;
}

.app-logo-mobile {
  visibility: hidden;
  opacity: 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-link ul {
  display: flex;
  gap: 1rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.app-logo-mobile {
  display: none;
}
.app-logo-mobile img {
  width: 100px;
}

@media screen and (max-width: 760px) {
  footer .app-logo-mobile {
    display: block;
    visibility: visible;
    opacity: 1;
    align-self: center;
  }
  footer .app-logo-mobile img {
    width: 70px;
  }
  footer .app-logo {
    display: none;
  }
  footer .copyright {
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-links {
    align-items: flex-start;
  }
  .footer-links .about-us {
    width: 30%;
  }
  .quick-link ul {
    flex-direction: column;
  }
}
@media screen and (min-width: 1500px) {
  .footer-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
@media screen and (max-width: 400px) {
  footer .app-logo-mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
/* login page ================================ */
.login-main,
.signup_main {
  padding: 3rem 1rem;
}

.login, .signup {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
}

.login-label-input-div,
.signup-label-input-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 100%;
}

.login-forgotpw {
  font-family: "Raleway";
  font-size: 14px;
  color: #6a6a6a;
  text-align: right !important;
  text-decoration: underline;
  cursor: pointer;
  margin: 0.5rem 0;
}

.login-forgotpw:hover {
  color: #026E7D;
}

.login-label-input-div label,
.signup-label-input-div label {
  justify-self: start;
}

.login-form-div,
.signup-form-div {
  text-align: center;
}

.login-form-div h1,
.signup-form-div h1 {
  color: #0293A7;
  font-family: "Raleway";
  font-size: 30px;
}

.login-form-div h2,
.signup-form-div h2 {
  color: #94390F;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  margin: 1rem;
}

.login_ul p {
  font-family: "Raleway";
  font-size: 14px;
}
.login_ul p a {
  color: #DE6B35;
  display: inline-block;
}

.or-div .login-google-text {
  border-bottom: 1px solid #C5C5C5;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
}

.or-div {
  position: relative;
  top: 10px;
  margin: 2rem 1rem;
}

.or-div a {
  position: relative;
  top: 8px;
  display: inline-block;
  background-color: #FFFFFF;
  color: #6a6a6a;
  padding: 0 1rem;
  font-family: "Raleway";
  font-size: 14px;
}

.password-input-container img {
  position: absolute;
  height: 20px;
  right: 1rem;
  bottom: 1.1rem;
}

.select_google {
  margin-top: 4rem;
}

.select_google button {
  margin: auto;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
}

.google-btn {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem 1.5rem;
  align-items: center;
}

.google-btn span img {
  height: 30px;
}

.error-msg {
  display: none;
  color: #DE3535;
  font-weight: bold;
  text-align: left;
}

#forgot-email {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 820px) {
  .login-main,
  .signup_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  }
  .login-label-input-div,
  .signup-label-input-div {
    width: 70%;
  }
  .or-div .login-google-text {
    width: 75%;
    left: 0;
    right: 0;
  }
  .image-container {
    height: 100%;
    width: auto;
    background: center/cover no-repeat url("/assets/images/Pet-img-2.svg");
  }
}
/* HOMEPAGE STYLING ========================== */
.home_body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

/* Hero Section ============================== */
.home_hero {
  background: center/cover no-repeat url("/assets/images/bg_mobile.png") #E6F4F6;
  padding: 0 5%;
  text-align: center;
}
.home_hero h1 {
  line-height: 1.2;
}
.home_hero h1 span {
  color: #DE6B35;
}
.home_hero h3 {
  max-width: 90%;
  margin: auto;
  margin-bottom: 50px;
  font-weight: 500;
}
.home_hero img {
  display: block;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 820px) {
  .home_hero {
    background: center/cover no-repeat url("/assets/images/bg_web.png") #E6F4F6;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: 0;
  }
  .home_hero h1 {
    font-size: 44px;
    text-align: left;
    margin: 0;
    line-height: 1;
    margin-bottom: 10px;
  }
  .home_hero h3 {
    font-size: 22px;
    text-align: left;
    margin: 0;
  }
  .home_hero .home_hero-text {
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .home_hero h1 {
    font-size: 54px;
    letter-spacing: 0.5px;
    padding: 1rem 0;
  }
  .home_hero h3 {
    max-width: 70%;
  }
}

/* Search section ============================ */
.home_searchbox {
  padding: 10% 5%;
  box-shadow: 0px 4px 6px #C5C5C5;
  background-color: #FFFFFF;
}
.home_searchbox .home-search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.home_searchbox .petSelector,
.home_searchbox .where-from-selector {
  width: 100%;
  height: 52px;
  padding: 0 8px;
  background-color: white;
  border: 1.5px solid #0293A7;
  border-radius: 8px;
}
.home_searchbox .petSelector option,
.home_searchbox .where-from-selector option {
  color: #818080;
}
.home_searchbox .home_search-btn {
  grid-column: span 2;
  width: 50%;
  justify-self: center;
}
.home_searchbox .home_search-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  float: right;
}
@media screen and (min-width: 820px) {
  .home_searchbox {
    max-width: 80%;
    margin: auto;
    border-radius: 22px;
    padding: 3%;
    transform: translateY(-20px);
    z-index: 100;
    /* Pending position */
  }
  .home_searchbox .home-search {
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
  }
  .home_searchbox .home_search-btn {
    grid-column: span 1;
    width: 100%;
    text-align: right;
  }
}

/* Featured Section ========================== */
.home_featured {
  padding: 4% 2% 0 2%;
}
.home_featured h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
}
.home_featured .home_big-carousel {
  display: none;
}
.home_featured .carousel {
  width: 100%;
  margin: auto;
}
.home_featured .slide img {
  display: block;
  width: 65%;
  height: 70%;
  margin: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.home_featured .slide p {
  margin: 7px 0;
  font-weight: bold;
}
.home_featured .carousel-container button::before,
.home_featured .carousel-container button::after {
  color: #000000;
}
.home_featured .carousel-container .slick-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.home_featured .carousel-container .slick-prev,
.home_featured .carousel-container .slick-next {
  top: 150px;
}
.home_featured .carousel-container .slick-prev {
  left: -5rem;
}
.home_featured .carousel-container .slick-next {
  right: -5rem;
}
.home_featured .carousel-container .slick-track {
  gap: 2rem;
}
.home_featured .carousel-container .slick-slider {
  max-width: 70vw !important;
  max-height: 480px !important;
}
@media screen and (min-width: 820px) {
  .home_featured h2 {
    font-size: 36px;
  }
}

/* Map Section =============================== */
.home_map-box {
  padding: 0 5% 8%;
}
.home_map-box h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 1rem;
}
.home_map-box .home_change-location {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
}
.home_map-box .home_change-location button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
}
.home_map-box .home_radius {
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.home_map-box .home_radius .home_radius-containder {
  margin: auto;
}
.home_map-box .home_radius label {
  display: inline;
}
.home_map-box .home_radius #home_apply-radius {
  margin: auto;
}
.home_map-box .orgList {
  display: none;
}
.home_map-box #map {
  height: 70vh;
}
.home_map-box .orgName {
  font-weight: bold;
  font-size: 15px !important;
}
.home_map-box .orgInfo {
  margin: 0;
  padding: 0;
  width: auto;
  overflow-wrap: break-word;
}
.home_map-box .orgInfo p {
  margin: 0;
  padding: 2px;
  font-size: 14px;
}
.home_map-box .orgId {
  display: block;
}
@media screen and (min-width: 820px) {
  .home_map-box {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 20px;
  }
  .home_map-box h2 {
    font-size: 36px;
    grid-column: span 2;
  }
  .home_map-box .home_map-controls {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .home_map-box .home_map-controls .home_change-location {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0.8rem;
  }
  .home_map-box .home_map-controls .home_change-location button {
    margin: 0;
  }
  .home_map-box .home_map-controls .home_radius {
    margin: 0;
    grid-template-columns: 2fr 1fr;
    gap: 0.8rem;
  }
  .home_map-box .home_map-controls .home_radius .home_radius-containder {
    margin-right: 0;
  }
  .home_map-box .home_map-controls .home_radius #home_apply-radius {
    margin: 0;
  }
  .home_map-box #map {
    height: 80vh;
  }
  .home_map-box .orgList {
    display: block;
    height: 80vh;
    overflow-y: scroll;
  }
  .home_map-box .orgList .orgInfo {
    border-bottom: 1.5px solid #0293A7;
    padding: 2% 2% 4%;
    margin-bottom: 10px;
  }
  .home_map-box .orgList .orgInfo:hover {
    background-color: #E6F4F6;
    border-radius: 8px 8px 0 0;
  }
  .home_map-box .goToOrg {
    font-size: 13px;
    font-weight: bold;
    width: 120px;
    height: 35px;
    background-color: #FFFFFF;
    border: 2px solid #0293A7;
    color: #0293A7;
    border-radius: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .home_map-box .goToOrg:hover {
    background-color: #0293A7;
    border: none;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 1200px) {
  .home_map-box {
    grid-template-columns: 1fr 3fr;
    row-gap: 2rem;
  }
}

/* Prepare to Adopt Section ================== */
.home_prepare-to-adopt {
  padding: 0 5%;
}
.home_prepare-to-adopt h2 {
  font-size: 30px;
  text-align: center;
}
.home_prepare-to-adopt h3 {
  text-align: center;
  margin: 25px 0;
  font-weight: 500;
}
.home_prepare-to-adopt .home_prepare-grid {
  margin-bottom: 40px;
}
.home_prepare-to-adopt .home_prepare-grid img {
  border-radius: 8px;
  margin-bottom: 15px;
}
.home_prepare-to-adopt .home_prepare-list {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 20px;
  padding-bottom: 3rem;
}
.home_prepare-to-adopt .home_prepare-list h4 {
  margin: 0;
  color: #94390F;
  font-size: 24px;
}
.home_prepare-to-adopt .home_prepare-list p {
  font-size: 16px;
}
@media screen and (min-width: 820px) {
  .home_prepare-to-adopt h2 {
    font-size: 36px;
  }
  .home_prepare-to-adopt h3 {
    font-size: 20px;
    max-width: 80%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .home_prepare-to-adopt .home_prepare-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    margin: 40px 0 60px;
  }
  .home_prepare-to-adopt .home_prepare-list img {
    max-width: 50px;
  }
  .home_prepare-to-adopt .home_prepare-list .home_paw-list {
    justify-self: end;
  }
  .home_prepare-to-adopt .home_prepare-list h4 {
    font-size: 26px;
  }
  .home_prepare-to-adopt .home_prepare-list p {
    font-size: 18px;
  }
}

/* CTA Rehome Section ======================== */
.home_cta-rehome {
  background-color: #FEF0E6;
  text-align: center;
  padding: 10% 5%;
}
.home_cta-rehome h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}
.home_cta-rehome h3 {
  max-width: 90%;
  margin: auto;
  font-weight: 500;
}
.home_cta-rehome button {
  margin: auto;
  box-shadow: 0px 4px 6px #C5C5C5;
  margin-top: 20px;
}
@media screen and (min-width: 820px) {
  .home_cta-rehome h2,
  .home_cta-rehome h3 {
    max-width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
  .home_cta-rehome h2 {
    font-size: 36px;
  }
  .home_cta-rehome h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .home_cta-rehome {
    padding: 5%;
  }
}

.home-prepare-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Adoption Stories Section ================== */
.home_adopt-stories {
  padding: 10% 5%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.home_adopt-stories > div:first-of-type {
  width: 40%;
}
.home_adopt-stories h2 {
  text-align: center;
}
.home_adopt-stories .home_post-now {
  display: block;
  margin: auto;
  margin-top: 25px;
  box-shadow: 0px 4px 6px #C5C5C5;
}
.home_adopt-stories .story {
  display: flex;
}
.home_adopt-stories .stories-wrapper {
  width: 60%;
}
.home_adopt-stories .sort-wrapper {
  width: 75%;
  margin-right: 4rem;
  float: right;
}
.home_adopt-stories .slick-arrow,
.home_adopt-stories .slick-arrow::before {
  color: black;
}
.home_adopt-stories .slick-prev {
  left: -65px;
}
.home_adopt-stories .slick-next {
  right: -50px;
}
.home_adopt-stories .story-details > div:last-of-type {
  padding: 1rem;
}
.home_adopt-stories .owner-location {
  font-size: 14px;
  color: #026E7D;
}
@media screen and (min-width: 820px) {
  .home_adopt-stories h2 {
    text-align: left;
    font-family: "Raleway";
    font-size: 36px;
  }
  .home_adopt-stories .home_post-now {
    display: block;
    margin: 0;
    margin-top: 15px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #394a6d;
}

.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #394a6d;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

.alert {
  display: none;
  color: #991F1F;
  font-size: 12px;
  font-style: italic;
  margin-top: 0.5rem;
}

/* TOMTOM SEARCH ============================= */
.tt-search-box {
  margin: 0;
}

.tt-search-box-input-container {
  height: 52px;
  padding: 0 8px;
  background-color: white;
  border: 1.5px solid #0293A7;
  border-radius: 8px;
}

.tt-search-box-input-container.-focused {
  border: 1.5px solid #0293A7;
}

.tt-search-box-input::placeholder,
.home_searchbox .petSelector option,
.home_searchbox .where-from-selector option {
  font-family: "Raleway";
  font-size: 16px;
  color: #000000 !important;
}

.tt-search-box-input {
  font-size: 18px;
  font-family: "Raleway";
  font-size: 18px;
  color: #000000 !important;
}

.tt-search-box-input-container.-focused {
  box-shadow: unset;
}

.pet-profile {
  display: flex;
  gap: 1rem;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
}

.js .slider-for > div:nth-child(1n+2) {
  display: none;
}

.js .slider-for > div:nth-child(1n+2) {
  display: block;
}

.slider-nav img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.slider-for img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.slider-for .slick-prev {
  left: 25px;
  z-index: 999;
}

.slider-for .slick-next {
  right: 35px;
}

.slider-nav .slick-arrow {
  display: none;
}

.slick-track {
  left: unset !important;
  display: flex;
  justify-content: space-between;
}

.slider-nav .slick-slide.slick-current {
  border: 1px solid #0293A7;
}

.other-details {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.other-details > div {
  display: grid;
  gap: 1rem;
}

.pet-details {
  padding: 0 2rem;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
}

.pet-profile-main {
  padding: 2rem 0;
}

.pet-profile-main .pet-name {
  font-size: 22px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
  .pet-profile-main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px;
  }
}
/* Rehome ==================================== */
.content-center {
  padding: 0 5%;
  box-sizing: border-box;
}

.rehome-main h2 {
  color: #DE6B35;
  margin-bottom: 1rem;
}
.rehome-main .text-input {
  box-sizing: border-box;
  width: 100%;
}

#tab-2, #tab-3 {
  margin-bottom: 2rem;
}

.rehome-container {
  display: flex;
  gap: 2rem;
}
.rehome-container > div {
  width: 50%;
  flex: 0 1 auto;
}
.rehome-container > div:nth-child(2) > div:first-of-type {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rehome-container .pet-category {
  border: 1px solid #0293A7;
  border-radius: 0.5rem;
  width: 30%;
  text-align: center;
  padding: 1rem 0;
}
.rehome-container h2 {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2rem;
}
.rehome-container p {
  font-family: "Raleway";
  font-size: 18px;
}
.rehome-container .col-right {
  padding: 3rem 2%;
}

.col-left {
  position: relative;
}
.col-left h1 {
  font-family: "Baloo 2";
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  bottom: 0;
  padding: 3rem;
  color: #FFFFFF;
  z-index: 1000;
}
.col-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-left::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.col-right {
  display: grid;
  align-content: space-around;
}
.col-right > div:last-of-type {
  text-align: right;
}

.pet-category.active {
  background-color: #0293A7;
}

.active-pet,
#tab-progress,
#tab-2,
#tab-3 {
  display: none;
}

.active-pet {
  margin-left: auto;
  margin-right: auto;
}

.active-pet.barn {
  margin-bottom: 1.2rem;
}

label {
  display: grid;
  gap: 0.5rem;
}

#tab-2 {
  box-sizing: border-box;
}

.rehome-pet {
  margin: 2rem 0;
  box-sizing: border-box;
}

#tab-progress div p span {
  display: block;
}

select,
textarea {
  border: 1px solid #C5C5C5;
  height: 40px;
  outline: 0;
  border-radius: 0.3rem;
  box-sizing: border-box;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: #818080;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 4rem;
}

.radio-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .radio-slider {
  background-color: #0293A7;
}

input:focus + .radio-slider {
  box-shadow: 0 0 1px #0293A7;
}

input:checked + .radio-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.radio-slider.round {
  border-radius: 34px;
}

.radio-slider.round:before {
  border-radius: 50%;
}

.toggle-attributes {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.toggle-attributes label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
  width: 50%;
}

.upload-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #C5C5C5;
}

.displayImages {
  display: flex;
}

#tab-2 form > div:not(:last-of-type) {
  margin-bottom: 2rem;
}

#tab-2 form > div:last-of-type,
#tab-3 form > div:last-of-type {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}

#tab-progress.active {
  display: grid;
}

#tab-progress {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  justify-self: center;
  align-items: end;
  padding: 2rem 0;
}

.progress-holder {
  display: inline-flex;
  overflow: hidden;
  background-color: #C5C5C5;
  text-align: center;
  border-radius: 0.25rem;
  margin: 0.2em 0;
  height: 0.5rem;
  width: 100%;
}

.progress-bar {
  width: 0%;
  background-color: #0293A7;
}

.modal {
  transition: 0.75s all cubic-bezier(0.23, 1, 0.32, 1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal.modal-active {
  opacity: 1 !important;
  visibility: visible;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 50%;
  margin: auto;
  padding: 3rem;
  text-align: center;
}
.modal-content h2 {
  margin-bottom: 1rem;
}

.lottie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 50%;
  text-align: center;
}

option {
  box-sizing: border-box;
}

.controls {
  margin-top: 3rem;
}
.controls a {
  color: #C5C5C5;
  text-decoration: underline;
  margin-top: 1rem;
}

.rehome-container .col-left {
  display: none;
}
.rehome-container > div {
  width: 100%;
}
.rehome-container > div:nth-child(2) > div:first-of-type {
  gap: 0.5rem;
}

.form-fields {
  display: grid;
  gap: 1rem;
}

#tab-2, #tab-3, #tab-progress.active {
  margin: auto;
  padding: 2%;
}

@media screen and (min-width: 460px) {
  #tab-progress div p span {
    display: unset;
  }
}
@media screen and (min-width: 820px) {
  .form-fields {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  #ptype {
    width: 48%;
  }
  .rehome-container .col-left {
    display: unset;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px;
  }
}
/* User Profile =========================== */
.user-profile-main {
  margin: 2rem 1rem;
}
.user-profile-main .owner-main-images {
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: #FEF0E6;
}
.user-profile-main .owner-main-images img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.user-profile-main .owner-main-images .owner-name {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #C5C5C5;
}
.user-profile-main .owner-main-images button {
  width: 100%;
  background: transparent;
  border: none;
  color: #0293A7;
  margin: 1rem 0;
  font-weight: 600;
}
.user-profile-main .owner-main-images #profile-pic {
  padding: 1rem 2rem;
  text-align: center;
}
.user-profile-main .section-wrapper {
  display: flex;
  justify-content: space-between;
}
.user-profile-main .owner-details-wrapper {
  width: 70%;
  margin: 2rem 1rem;
}
.user-profile-main .owner-details-wrapper span:first-of-type {
  width: 30%;
}
.user-profile-main .owner-details-wrapper span:last-of-type {
  font-weight: 600;
}
.user-profile-main .owner-details-wrapper .owner-details {
  display: flex;
}
.user-profile-main .owner-details-wrapper .owner-details div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.user-profile-main .owner-details-wrapper .owner-details p {
  display: flex;
}
.user-profile-main .modal-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.user-profile-main .adoption-confirmation {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.user-profile-main .adoption-confirmation label {
  display: flex;
}
.user-profile-main .adoption-confirmation button {
  display: block;
  margin: auto;
}
.user-profile-main .radio-response {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.user-profile-main .reason {
  visibility: hidden;
  transition: visibility 0.5s ease, max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.user-profile-main .reason.display {
  visibility: visible;
  max-height: 10rem;
}
.user-profile-main button.reject {
  color: #94390F;
}
.user-profile-main button.success {
  color: #398C1C;
}
.user-profile-main .decline-modal h2 {
  color: #94390F;
}
.user-profile-main .decline-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.user-profile-main .decline-confirmation textarea {
  display: block;
  visibility: visible;
  max-height: 10rem;
}
.user-profile-main button.decline[disabled=disabled]:hover {
  cursor: auto;
}

.rehome-pet-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rehome-pet-wrapper .list {
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  margin: auto;
  padding: 0.5rem;
  width: 75%;
}
.rehome-pet-wrapper .rehome-pet-list {
  display: flex;
  gap: 1rem;
  position: relative;
}
.rehome-pet-wrapper .rehome-pet-list .pet-image {
  flex: 1 0 30%;
}
.rehome-pet-wrapper .rehome-pet-list .pet-image img {
  width: 17rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.rehome-pet-wrapper .rehome-pet-list .pet-image p {
  text-align: center;
  color: #DE6B35;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0.5rem;
}
.rehome-pet-wrapper .rehome-pet-list .description {
  flex-wrap: wrap;
  padding: 0 1rem;
  width: 100%;
}
.rehome-pet-wrapper .rehome-pet-list .description > div:last-of-type button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
}
.rehome-pet-wrapper .rehome-pet-list ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin: 1rem 0;
}
.rehome-pet-wrapper .rehome-pet-list ul li {
  padding: 0.3rem;
}
.rehome-pet-wrapper .responseButtonsModal button.accept, .rehome-pet-wrapper .responseButtonsModal button.decline, .rehome-pet-wrapper .responseButtonsModal button.close {
  font-weight: 900;
  cursor: pointer;
}
.rehome-pet-wrapper .responseButtonsModal button.accept {
  color: #398C1C;
}
.rehome-pet-wrapper .responseButtonsModal button.close {
  color: #0293A7;
}
.rehome-pet-wrapper .responseButtonsModal button.accept:hover {
  text-decoration: underline;
  text-decoration-color: #398C1C;
  text-decoration-thickness: 2px;
}
.rehome-pet-wrapper .responseButtonsModal button.close:hover {
  text-decoration: underline;
  text-decoration-color: #0293A7;
  text-decoration-thickness: 2px;
}
.rehome-pet-wrapper .responseButtonsModal button.decline {
  color: #991F1F;
}
.rehome-pet-wrapper .responseButtonsModal button.decline:hover:not([disabled=disabled]) {
  text-decoration: underline;
  text-decoration-color: #991F1F;
  text-decoration-thickness: 2px;
}
.rehome-pet-wrapper .responseButtonsModal .inquiry-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 2rem;
  width: 55%;
  margin-left: auto;
}
.rehome-pet-wrapper .responseButtonsModal .response-buttons button {
  background-color: transparent;
  border: none;
  outline: none;
  width: fit-content;
}
.rehome-pet-wrapper .responseButtonsModal {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.rehome-pet-wrapper .responseButtonsModal .inquiry-list {
  border-top: 1px solid #C5C5C5;
}
.rehome-pet-wrapper .responseButtonsModal .inquiry-list:first-of-type {
  margin-top: 1rem;
}

#section-3 {
  margin: 1rem 2rem;
}
#section-3 table {
  margin: auto;
  text-align: left;
  border-collapse: collapse;
}
#section-3 td, #section-3 th {
  padding: 0.5rem 1rem;
  border: 1px solid #6a6a6a;
}
#section-3 td img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

#section-tab {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  width: 70%;
  margin: auto;
  border-bottom: 1px solid #C5C5C5;
}

.user-profile-main .content {
  display: none;
  margin: 2rem 0;
}

.user-profile-main .content.current {
  display: block;
}

.nav-item.current {
  border-bottom: 2px solid #0293A7;
}

.nav-item {
  padding: 1rem;
}

.about {
  display: flex;
}

.response-buttons {
  display: flex;
  gap: 1rem;
}

#animalDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#animalDetails > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  width: 50%;
}

#animalDetails > div span {
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .user-profile-main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px;
  }
  .modal-content {
    max-width: 700px;
  }
}
@media screen and (max-width: 900px) {
  .user-profile-main .section-wrapper {
    justify-content: center;
  }
  .user-profile-main .owner-details-wrapper {
    width: 50%;
  }
  .user-profile-main .owner-details-wrapper .owner-details {
    flex-direction: column;
  }
  .user-profile-main .owner-details-wrapper .owner-details div {
    width: 100%;
  }
  .user-profile-main .owner-details-wrapper .owner-details div:first-of-type {
    margin-bottom: 2rem;
  }
  .user-profile-main .owner-main-images {
    height: fit-content;
  }
}
@media screen and (max-width: 400px) {
  .user-profile-main .rehome-pet-wrapper .responseButtonsModal .inquiry-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .user-profile-main .rehome-pet-wrapper .responseButtonsModal .inquiry-list .response-buttons {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  .user-profile-main .section-wrapper {
    flex-direction: column;
  }
  .user-profile-main .owner-details-wrapper {
    width: auto;
  }
  .user-profile-main span:first-of-type {
    width: 36%;
  }
  .user-profile-main #section-tab {
    width: 100%;
    text-align: center;
  }
  .user-profile-main .rehome-pet-wrapper .rehome-pet-list {
    flex-direction: column;
  }
  .user-profile-main .rehome-pet-wrapper .rehome-pet-list .description {
    padding: 0;
  }
  .user-profile-main .rehome-pet-wrapper .rehome-pet-list .pet-image img {
    width: 100%;
    height: 16rem;
  }
}
@media screen and (max-width: 1024px) {
  #section-3 table {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }
  #section-3 table td img {
    height: 100%;
  }
  .user-profile-main .rehome-pet-wrapper .responseButtonsModal .inquiry-list {
    width: calc(100% - 1rem);
  }
}
/* Pet Application =========================== */
.animals-main {
  padding: 3rem;
}

#filtered-pets {
  display: grid;
  /* grid-template-columns: minmax(100px, min-content) calc(100vw - 463px); */
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.pet {
  overflow: hidden;
  margin-bottom: 1rem;
}

.organization {
  display: none;
}

.search-container {
  display: flex;
}

.search-filter {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex: 1 0 auto;
  flex-grow: 0;
  width: 280px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.animals-main form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.search-filter select {
  width: 250px;
}

.animals-main .slick-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.animals-main .slick-dots {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.5rem 0.5rem;
}

.animals-main select {
  height: 2rem;
  border-color: lightgray;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
fieldset > div {
  display: flex;
}

.animals-main label,
.animals-main legend {
  font-weight: 300;
  gap: 0.2rem;
}

.pet-location {
  text-transform: capitalize;
  color: #0293A7;
}

.pet-name {
  font-weight: 600;
}

.slick-dotted.slick-slider {
  margin-bottom: 1rem;
}

.search-check .home_search-btn {
  width: 100%;
}
.search-check h2 {
  font-size: 22px;
  margin-bottom: 0.5rem;
  color: #DE6B35;
}
.search-check p {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 2rem;
}
.search-check .alert {
  text-align: left;
  font-size: 12px;
  margin: 0;
}
.search-check button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto 0;
}

.no-results {
  position: absolute;
  text-align: center;
  margin-top: 5rem;
  transform: translateX(50%);
}
.no-results img {
  rotate: 270deg;
  width: 200px;
}
.no-results h2 {
  color: #DE3535;
  font-family: "Raleway";
  font-size: 22px;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1300px) {
  .animals-main {
    width: 1200px;
    margin: auto;
  }
  .search-check .modal-content {
    max-width: fit-content;
  }
}
/* Adoption/Inquiry =========================== */
.inquire-pet label {
  margin: 1rem 0;
}

.inquiry-main {
  padding: 3rem 2rem;
}
.inquiry-main .modal-content h2 {
  color: #DE6B35;
}

.app-details, .pet-preference {
  border: 1px solid #C5C5C5;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.input-format {
  display: flex;
  flex-wrap: wrap;
}

.input-format div {
  display: flex;
}

.input-format > label {
  flex: 0 0 100%;
}

#input-format {
  padding-right: 1rem;
}

#input-format label {
  font-weight: normal;
}

@media screen and (min-width: 820px) {
  .app-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .input-format {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1200px) {
  .inquiry-main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px;
  }
}
/* Adoption Journey ========================== */
.adoption-journey-header-wrapper {
  background-color: #FEF0E6;
  padding: 5% 4%;
}

.adoption-journey-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adoption-journey-header h1 {
  font-family: "Baloo 2";
  font-size: 54px;
  color: #DE6B35;
  line-height: 1;
  margin-bottom: 1rem;
}

.adoption-journey-header p {
  font-family: "Raleway";
  font-size: 22px;
}

.adoption-journey-content {
  display: flex;
  gap: 8%;
  padding: 3% 0;
}

.adoption-journey-content aside {
  width: 40%;
  gap: 5%;
  margin-top: calc(40px + 1rem);
}
.adoption-journey-content aside > div:first-of-type {
  border: 1px solid #0293A7;
  padding: 2rem;
  border-radius: 0.5rem;
}
.adoption-journey-content aside h2 {
  margin-bottom: 2rem;
}
.adoption-journey-content aside > h2:last-of-type {
  margin-top: 2rem;
}
.adoption-journey-content aside > div:last-of-type div {
  border: 1px solid #0293A7;
  padding: 2rem;
  border-radius: 0.5rem;
}

.stories-wrapper {
  width: 60%;
}

.story-details {
  width: 40%;
  background-color: #E6F4F6;
  border-radius: 0.5rem 0 0 0.5rem;
}
.story-details > div:last-of-type {
  text-align: center;
  padding-bottom: 1rem;
}

.story-content {
  padding: 2rem 2rem 2rem 1rem;
}

.story-photos img {
  border-radius: 0.5rem 0 0 0rem;
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#stories, .article-wrapper, aside,
aside > div:last-of-type {
  display: flex;
  flex-direction: column;
}

#stories,
aside > div:last-of-type {
  gap: 2rem;
}

.article-wrapper {
  gap: 1rem;
}

.story {
  position: relative;
  display: flex;
  gap: 1rem;
  border: 1px solid #0293A7;
  border-radius: 0.5rem;
  z-index: 9999;
}

dt button {
  background: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
dt button::before {
  content: "";
  background-image: url("./../../icons/Back.svg");
  width: 15px;
  height: 15px;
}

dt.article {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.article-container {
  border: 1px solid #818080;
  border-radius: 0.5rem;
}

dd.article-content {
  padding: 0 1rem;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
dd.article-content p {
  margin: 1rem 0;
}

.read-more {
  text-align: right;
  color: #0293A7;
  text-decoration: underline;
  margin-top: 1rem;
  font-weight: 900;
}

.story-title {
  font-weight: 900;
  margin-bottom: 1rem;
}

.adoption-journey-form {
  padding: 3% 4%;
}
.adoption-journey-form h1 {
  font-family: "Baloo 2";
  font-size: 32px;
  color: #DE6B35;
}
.adoption-journey-form .modal-content h2 {
  color: #0293A7;
}
.adoption-journey-form .modal-content p span {
  color: #DE6B35;
}
.adoption-journey-form .controls {
  margin-top: 2rem;
}

.adopted-story .content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  column-gap: 2rem;
}
.adopted-story .content-container .title, .adopted-story .content-container .desc {
  grid-column: 1/2;
}
.adopted-story .content-container .upload-images {
  grid-row: 1/4;
  grid-column: 2/3;
}
.adopted-story .content-container > div:last-of-type {
  grid-column: 2/3;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}
.adopted-story .content-container > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.adopted-story .content-container > div a {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  color: #6a6a6a;
}
.adopted-story textarea {
  width: 95%;
  height: 400px;
}
.adopted-story input[type=text] {
  border: 1px solid #C5C5C5;
  width: 360px;
  height: 35px;
  outline: 0;
  border-radius: 0.3rem;
}

.adopted-user input[type=text] {
  border: 1px solid #C5C5C5;
  width: 360px;
  height: 35px;
  outline: 0;
  border-radius: 0.3rem;
}

.sort-wrapper {
  text-align: right;
  margin-bottom: 1rem;
}

.sort-wrapper select {
  width: 9rem;
  color: #DE6B35;
  padding: 0.5rem;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 600;
}

.posted-date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #818080;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

@media screen and (min-width: 1200px) {
  .adoption-journey-content,
  .adoption-journey-header,
  .adoption-journey-form {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px;
  }
}
/* Style Guide BUTTONS --------------- */
button.filled-default,
button.filled-default-next {
  background-color: #0293A7;
  color: #FFFFFF;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-hover,
button.filled-hover-next {
  background-color: #01333A;
  color: #FFFFFF;
  border: 2px solid #01333A;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-active,
button.filled-active,
button.filled-active-mob,
button.outline-active-mob,
button.outline-active-next,
button.filled-active-next,
button.filled-active-next-mob,
button.outline-active-next-mob {
  background-color: #B1DEE4;
  color: #01333A;
  border: 2px solid #01333A;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-disabled,
button.filled-disabled-next {
  background-color: #C5C5C5;
  color: #818080;
  border: 2px solid #C5C5C5;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-default,
button.outline-default-mob,
button.outline-default-next,
button.outline-default-next-mob {
  background-color: #FFFFFF;
  color: #0293A7;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-hover,
button.outline-hover-next {
  background-color: #0293A7;
  color: #FFFFFF;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.outline-disabled,
button.outline-disabled-next {
  background-color: #FFFFFF;
  color: #818080;
  border: 2px solid #818080;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

button.filled-default-mob,
button.filled-default-next-mob {
  background-color: #0293A7;
  color: #FFFFFF;
  border: 2px solid #0293A7;
  width: 172px;
  height: 48px;
  border-radius: 3rem;
}

/*Input text -----------------*/
#input-text,
#focus-text,
#error-text {
  width: 360px;
  height: 44px;
  border-radius: 0.5rem;
  border-style: solid;
}

#input-text::placeholder {
  color: #818080;
}

#focus-text {
  border-color: #0293A7;
}

#error-text {
  border-color: #DE3535;
}

#checked-checkbox,
#selected-radio {
  accent-color: #0293A7;
}

/*# sourceMappingURL=style.css.map */
