/* Error: expected "}".
 *     ,
 * 767 | }
 *     |  ^
 *     '
 *   layouts/_adoption-journey.scss 767:2  @use
 *   layouts/_layouts.scss 11:1            @use
 *   main.scss 2:1                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 767 \2502  }\a     \2502   ^\a     \2575 \a   layouts/_adoption-journey.scss 767:2  @use\a   layouts/_layouts.scss 11:1            @use\a   main.scss 2:1                         root stylesheet';
}
