@use '../abstracts/variables/colors' as colors;
@use '../abstracts/mixins/mixins' as mx;
@use '../abstracts/variables/typography' as typo;


// google sign in button : google button (filled start)
button.google-btn{
    width:235px;
    height:56px;
    border-radius:22px;
    background-color: white;
    border:1px solid colors.$neutral-color-grey-l;
    font-size:18px;

}

// google-btn (hover)


// Filled button
button.filled-btn,
button.filled-next-btn,
button.filled-mob-btn,
button.filled-next-mob-btn{
    @include mx.button-style(colors.$primary-color-main, colors.$neutral-color-white, colors.$primary-color-main);
}

button.filled-btn:hover,
button.filled-next-btn:hover{
    @include mx.button-style(colors.$primary-color-100, colors.$neutral-color-white, colors.$primary-color-100);
}

button.filled-btn:active,
button.filled-next-btn:active,
button.filled-mob-btn:active,
button.filled-next-mob-btn:active{
    @include mx.button-style(colors.$primary-color-25, colors.$primary-color-100, colors.$primary-color-100);
}

button.filled-btn:disabled,
button.filled-next-btn:disabled{
    @include mx.button-style(colors.$neutral-color-grey-l, colors.$neutral-color-grey, colors.$neutral-color-grey-l);
}

// Outline button
button.outline-btn,
button.outline-next-btn,
button.outline-mob-btn,
button.outline-next-mob-btn{
    @include mx.button-style(colors.$neutral-color-white, colors.$primary-color-main, colors.$primary-color-main);
}

button.outline-btn:hover,
button.outline-next-btn:hover{
    @include mx.button-style(colors.$primary-color-main, colors.$neutral-color-white, colors.$primary-color-main);
}

button.outline-btn:active,
button.outline-next-btn:active,
button.outline-mob-btn:active,
button.outline-next-mob-btn:active{
    @include mx.button-style(colors.$primary-color-25, colors.$primary-color-100, colors.$primary-color-100);
}

button.outline-btn:disabled,
button.outline-next-btn:disabled{
    @include mx.button-style(colors.$neutral-color-white, colors.$neutral-color-grey, colors.$neutral-color-grey);
}

// Font used for button
button.font{
    @include mx.raleway-typography(16);
    font-weight: bold;
}