@use '../abstracts/variables/colors' as colors;
@use '../abstracts/mixins/mixins' as mx;

/*Footer section ------------*/
footer {
    background-color: colors.$accent-color-10;
    padding: 0 1rem;
    margin-top: auto;
}

.footer-container {
    padding: 1rem 0.5rem;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5rem 0;
}

.app-logo {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}

.app-logo img {
    width: 200px;
}

.quick-link ul,
.team {
    padding: 1rem 0;
}

footer a {
    @include mx.raleway-typography(16);
}

footer h2,
footer h2 {
    color: colors.$accent-color-75;
    @include mx.raleway-typography(18);
}

.quick-link li, .team {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.copyright {
    padding: 0.5rem 0;
    border-top: 1px solid colors.$neutral-color-grey-l;
    text-align: center;
    color: colors.$accent-color-75;
}

.copyright p {
    @include mx.raleway-typography(12);
}

.copyright span {
    color: colors.$primary-color-75;
}

@media screen and (min-width: 820px) {
    .footer-links{
        display: flex;
        justify-content: space-between;
    }

    .quick-link ul{
        display: flex;
        gap: 1rem ;
    }
    
    .copyright{
        display: flex;
        justify-content: space-between;
    }  
}

@media screen and (min-width: 1200px) {
    .footer-container {
        @include mx.maxwidth;
    }
}