@use '../abstracts/variables/colors' as colors;
@use '../abstracts/mixins/mixins' as mx;

/* Global Styling ============================ */

body, h1, h2, p {
    margin: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: colors.$neutral-color-black;
    display: block;
}

h2 {
    @include mx.raleway-typography(18);
}

h3 {
    @include mx.raleway-typography(16);
}

p, td, ul a {
    @include mx.raleway-typography(16);
    font-weight: 300
}

label, legend, tr {
    @include mx.raleway-typography(16);
    font-weight: 600;
}

.modal-content .close {
    text-align: right;
}