@use '../abstracts/variables/colors' as colors;
@use '../abstracts/mixins/mixins' as mx;

/* Header section ============================ */
header,
.mobile-nav .mobile-logo {
    background-color: white;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0 3px 7px -7px colors.$neutral-color-grey-l;
    padding: 0 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

header a {
    padding: 0.5rem;
}

.main-menu ul.header-link{
    list-style-type: none;
}

.main-menu ul li a:hover{
    color: colors.$primary-color-main;
}

.header-link li.selected {
    border-bottom: 2px solid colors.$primary-color-main;
    color: colors.$primary-color-main;
    font-weight: 700;
}

.header-link li.selected a {
    color: colors.$primary-color-main;
    font-weight: 900;
}

.find-pet-dd{
    display: none;
    min-width: 120px;
    border: 2px solid colors.$neutral-color-black; 
    list-style-type: none;
    padding: 0;
    background-color: #fff;
}

.find-pet-dd a{
    color: colors.$neutral-color-grey;
    padding: 10px 2%;
    display: block;
    text-align: left;
}

ul.find-pet a{
    color: colors.$neutral-color-grey;
}

.menu{
    transform: translateX(100%);
}

.menu-mob{
    position: fixed;
    z-index: 1;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1.5s ease-in;
    transform: translateX(0);
    backdrop-filter: blur(3px);
    background-color: colors.$neutral-color-white;
}

.hamburger-menu {
    display: none;
}

.main-menu ul.header-link{
    display: flex;
    gap: 1rem;
}

.logo img,
.mobile-logo img {
    width: 250px;
}

.find-pet-dd{
    position: absolute;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    transform: none;
}

header.menu{
    display: flex;
    justify-content: space-between;
}

.mobile-nav {
    @include mx.position('absolute');

    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    
    height: 100vh;
    padding: 0.5rem 0;
    background-color: white;
    z-index: 99999;
}

@media screen and (min-width: 1500px) {
    .header-container {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    // .home_main {
    //     .home_searchbox, .home_featured, .home_map-box,
    //     .home_prepare-to-adopt, .home_adopt-stories {
    //         @include mx.maxwidth;
    //     }
        
    // }
}

@media screen and (max-width: 800px) {
    .hamburger-menu {
        display: block;
    }

    .main-menu {
        display: none;
    }

    .mobile-nav {
        .mobile-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .close {
                width: 1.5rem;
            }
        }

        ul {
            li {
                border-bottom: 1px solid #f0f0f0;
            }

            li:hover a,
            li:active a {
                background-color: colors.$primary-color-main;
                color: colors.$neutral-color-white;
                font-weight: 900;
            }
            a {
                padding: 1.5rem;
            }
        }
    }

    .mobile-nav.open {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 900px) {
    .logo img,
    .mobile-logo img {
        width: 200px;
    }
}