@use '../abstracts/variables/colors' as colors;
@use '../abstracts/mixins/mixins' as mx;

/* Header section ============================ */
body, h1, h2, p {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: colors.$neutral-color-black;
    display: block;
}

header {
    background-color: white;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0 3px 7px -7px colors.$neutral-color-grey-l;
    padding: 0 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.logo img {
    width: 170px;
}

header a {
    padding: 0.5rem;
}

.hamburger-menu a{
    display: block;
}

.main-menu ul.header-link{
    list-style-type: none;
    display: none;
}

.main-menu ul li a:hover{
    color: colors.$primary-color-main;
}

.header-link li.active {
    border-bottom: 2px solid colors.$primary-color-main;
    color: colors.$primary-color-main;
    font-weight: 700;
}

.header-link li.active a {
    color: colors.$primary-color-main;
}

// .login {
//     display: none;
//     text-align: center;
//     border-top: 1px solid colors.$neutral-color-grey;
//     margin: 2%;
// }

// .login a {
//     color: colors.$primary-color-main;
// }

.find-pet-dd{
    display: none;
    min-width: 120px;
    border: 2px solid colors.$neutral-color-black; 
    list-style-type: none;
    padding: 0;
    background-color: #fff;
}

.find-pet-dd a{
    color: colors.$neutral-color-grey;
    padding: 10px 2%;
    display: block;
    text-align: left;
}

ul.find-pet a{
    color: colors.$neutral-color-grey;
}

.menu{
    transform: translateX(100%);
}

.menu-mob{
    position: fixed;
    z-index: 1;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1.5s ease-in;
    transform: translateX(0);
    backdrop-filter: blur(3px);
    background-color: colors.$neutral-color-white;
}

@media screen and (min-width: 460px) {

    .logo img{
        width: 200px;
    }

    .find-pet-dd{
        position: absolute;
    }

    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        transform: none;
    }

    .hamburger-menu a{
        display: none;
    }
    
    header.menu{
        display: flex;
        justify-content: space-between;
    }

    .main-menu ul.header-link{
        display: flex;
        gap: 1rem;
    }

    // .login{
    //     display: block;
    //     border: unset;
    // }
}

@media screen and (min-width: 1200px) {
    .header-container {
        @include mx.maxwidth;
    }
}