
@use "./../abstracts/variables/colors" as colors;
@use "./../abstracts/variables/media_queries" as query;
@use "./../base/typography" as typo;
@use "./../abstracts/variables/typography" as generaltypo;
@use '../abstracts/mixins/mixins' as mx;

/* HOMEPAGE STYLING ========================== */

.home_body {
  margin: 0;
  padding: 0;
  font-family: generaltypo.$font-raleway;
}

/* Hero Section ============================== */
.home_hero {
  background: center / cover no-repeat url("/assets/images/bg_mobile.png")
    colors.$primary-color-10;
  padding: 0 5%;
  text-align: center;

  h1 {
    line-height: 1.2;
  }

  h1 span {
    color: colors.$accent-color-main;
  }

  h3 {
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;
    font-weight: 500;
  }

  img {
    display: block;
    width: 100%;
    margin: auto;
  }

  @media screen and (min-width: query.$media-tablet-width) {
    background: center / cover no-repeat url("/assets/images/bg_web.png") colors.$primary-color-10;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: 0;

    h1 {
      font-size: 44px;
      text-align: left;
      margin: 0;
      line-height: 1;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 22px;
      text-align: left;
      margin: 0;
    }

    .home_hero-text {
      align-self: center;
    }
  }

  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 54px;
      letter-spacing: 0.5px;
      padding: 1rem 0;
    }

    h3 {
      max-width: 70%;
    }
  }
}

/* Search section ============================ */
.home_searchbox {
  padding: 10% 5%;
  box-shadow: 0px 4px 6px colors.$neutral-color-grey-l;
  background-color: colors.$neutral-color-white;

  .home-search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .petSelector,
  .where-from-selector {
    width: 100%;
    height: 52px;
    padding: 0 8px;
    background-color: white;
    border: 1.5px solid colors.$primary-color-main;
    border-radius: 8px;

    option {
      color: colors.$neutral-color-grey;
    }
  }

  .home_search-btn {
    grid-column: span 2;
    width: 50%;
    justify-self: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      float: right;
    }
  }

  @media screen and (min-width: query.$media-tablet-width) {
    max-width: 80%;
    margin: auto;
    border-radius: 22px;
    padding: 3%;
    transform: translateY(-20px);
    z-index: 100;
    /* Pending position */

    .home-search {
      grid-template-columns: 1fr 1fr 1fr 0.5fr;
    }

    .home_search-btn {
      grid-column: span 1;
      width: 100%;
      text-align: right;
    }
  }

  // @media screen and (min-width: 1200px) {
  //   .home-search {
  //     grid-template-columns: 2fr 2fr 1fr 3fr;
  //   }
  // }
}

/* Featured Section ========================== */
.home_featured {
  padding: 8% 5%;

  h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  .home_big-carousel {
    display: none;
  }

  .carousel {
    width: 100%;
    height: 50vh;
    margin: auto;
  }

  .slide {
    img {
      display: block;
      width: 65%;
      height: 70%;
      margin: auto;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }

    .home_pet-card {
      width: 65%;
      height: auto;
      margin: auto;
    }

    .home_pet-name {
      font-size: 26px;
      margin: 10px 0 5px;
    }

    p {
      margin: 7px 0;
      font-weight: bold;
    }

    .home_pet-location {
      color: colors.$primary-color-main;
    }
  }

  @media screen and (min-width: query.$media-tablet-width) {
    h2 {
      font-size: 36px;
    }

    .home_small-carousel {
      display: none;
    }

    .home_big-carousel {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* Map Section =============================== */
.home_map-box {
  padding: 0 5% 8%;
  display: none;

  h2 {
    font-size: 30px;
    text-align: center;
  }

  @media screen and (min-width: query.$media-tablet-width) {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 20px;

    h2 {
      font-size: 36px;
      grid-column: span 2;
    }

    #map {
      height: 80vh;
    }

    .orgList {
      height: 80vh;
      overflow-y: scroll;
    }

    .orgName {
      font-weight: bold;
      font-size: 17px;
    }

    .orgInfo {
      margin: 0;
      padding: 0;
      font-size: 14px;
      width: auto;
    }

    .orgInfo p {
      margin: 0;
      padding: 2px;
    }

    .orgInfo p span {
      font-weight: bold;
    }

    .orgList .orgName {
      font-size: 15px;
    }

    .orgList .orgInfo {
      border-bottom: 1.5px solid colors.$primary-color-main;
      padding: 2% 2% 4%;
      margin-bottom: 10px;
      font-size: 13px;
    }

    .orgList .orgInfo:hover {
      background-color: colors.$primary-color-10;
      border-radius: 8px 8px 0 0;
    }
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 3fr;
  }
}

/* Prepare to Adopt Section ================== */
.home_prepare-to-adopt {
  padding: 0 5%;

  h2 {
    font-size: 30px;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin: 25px 0;
    font-weight: 500;
  }

  .home_prepare-grid {
    margin-bottom: 40px;

    img {
      border-radius: 8px;
      margin-bottom: 15px;
    }
  }

  .home_prepare-list {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 20px;
    padding-bottom: 3rem;

    h4 {
      margin: 0;
      color: colors.$accent-color-75;
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  @media screen and (min-width: query.$media-tablet-width) {
    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 20px;
      max-width: 80%;
      margin: auto;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .home_prepare-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      align-items: center;
      margin: 40px 0 60px;
    }

    .home_prepare-list {
      img {
        max-width: 50px;
      }

      .home_paw-list {
        justify-self: end;
      }

      h4 {
        font-size: 26px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}

/* CTA Rehome Section ======================== */
.home_cta-rehome {
  background-color: colors.$accent-color-10;
  text-align: center;
  padding: 10% 5%;

  h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
  }

  h3 {
    max-width: 90%;
    margin: auto;
    font-weight: 500;
  }

  button {
    margin: auto;
    box-shadow: 0px 4px 6px colors.$neutral-color-grey-l;
    margin-top: 20px;
  }

  @media screen and (min-width: query.$media-tablet-width) {
    h2,
    h3 {
      max-width: 70%;
      margin: auto;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 5%;
  }
}

.home-prepare-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Adoption Stories Section ================== */
.home_adopt-stories {
  padding: 10% 5%;

  h2 {
    text-align: center;
  }

  .home_post-now {
    display: block;
    margin: auto;
    margin-top: 25px;
    box-shadow: 0px 4px 6px colors.$neutral-color-grey-l;
  }

  .carousel {
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
  }

  .slide {
    img {
      display: block;
      width: 65%;
      height: 40%;
      margin: auto;
      object-fit: cover;
      object-position: center;
      border-radius: 8px 8px 0 0;
      border-right: 1.5px solid colors.$primary-color-main;
      border-left: 1.5px solid colors.$primary-color-main;
      border-top: 1.5px solid colors.$primary-color-main;
    }

    .home_pet-card {
      width: 65%;
      height: auto;
      margin: auto;
      background-color: colors.$primary-color-10;
      padding: 10px;
      border-right: 1.5px solid colors.$primary-color-main;
      border-left: 1.5px solid colors.$primary-color-main;
      text-align: center;
    }

    .home_pet-name {
      font-size: 26px;
      margin: 0;
      padding: 10px 0 5px;
    }

    p {
      margin: 7px 0;
      font-weight: bold;
    }

    .home_pet-location {
      color: colors.$primary-color-main;
    }

    .home_pet-story {
      width: 65%;
      height: auto;
      margin: auto;
      background-color: colors.$neutral-color-white;
      padding: 10px;
      border-radius: 0 0 8px 8px;
      border-right: 1.5px solid colors.$primary-color-main;
      border-left: 1.5px solid colors.$primary-color-main;
      border-bottom: 1.5px solid colors.$primary-color-main;
    }
  }

  @media screen and (min-width: query.$media-tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    h2 {
      text-align: left;
    }

    .home_post-now {
      display: block;
      margin: 0;
      margin-top: 15px;
    }

    .carousel {
      height: 50vh;
      margin-top: 0;
    }

    .slide {
      // display: flex;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      img {
        width: 80%;
        height: 65%;
        margin-left: 20%;
        margin-right: 0;
        border-radius: 8px 0 0 0;

        border: none;
        border-left: 1.5px solid colors.$primary-color-main;
        border-top: 1.5px solid colors.$primary-color-main;
      }

      .home_pet-card {
        width: 80%;
        margin-left: 20%;
        margin-right: 0;
        border-radius: 0 0 0 8px;
        border: none;
        border-left: 1.5px solid colors.$primary-color-main;
        border-bottom: 1.5px solid colors.$primary-color-main;
      }

      .home_pet-story {
        width: 80%;
        margin: 0;
        margin-right: 10%;
        border-radius: 0 8px 8px 0;
        border: none;
        border-right: 1.5px solid colors.$primary-color-main;
        border-bottom: 1.5px solid colors.$primary-color-main;
        border-top: 1.5px solid colors.$primary-color-main;
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #394a6d;
}
.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #394a6d;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

/* TOMTOM SEARCH ============================= */
.tt-search-box {
  margin: 0;
}

.tt-search-box-input-container {
  height: 52px;
  padding: 0 8px;
  background-color: white;
  border: 1.5px solid colors.$primary-color-main;
  border-radius: 8px;
}

.tt-search-box-input-container.-focused {
  border: 1.5px solid colors.$primary-color-main;
}

.tt-search-box-input::placeholder,
.home_searchbox .petSelector option, .home_searchbox .where-from-selector option {
  font-family: "Raleway";
  font-size: 16px;
  color: colors.$neutral-color-grey-l;
}

.tt-search-box-input {
  font-size: 18px;
  @include mx.raleway-typography(18);
}