.pet-profile {
    display: flex;
    gap: 1rem;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
}
  
//   ul {
//     display: flex;
//     flex-direction: column;
//   }

//   li {
//       list-style: none;
//       display: inline-block;
//       position: relative;
//   }

//   a {
//     display: block;
//   }

//   li img {
//     max-width: 100%;
//     width: 48px;
//     height: 48px;
//     object-fit: cover;
//   }

.js .slider-for > div:nth-child(1n + 2) {
    display: none;
}

.js .slider-for > div:nth-child(1n + 2) {
    display: block;
}

.slider-nav img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
        
.slider-for img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slider-for .slick-prev {
    left: 25px;
    z-index: 999;
}

.slider-for .slick-next {
    right: 35px;
}

.slider-nav .slick-arrow {
    display: none;
}

.slick-track {
    left: unset !important;
    display: flex;
    justify-content: space-between;
}

.slider-nav .slick-slide.slick-current {
    border: 1px solid blue;
}

.other-details {
    display: flex;
    justify-content: space-between;
}

.pet-details {
    padding: 0 1rem;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
}