@use '../abstracts/mixins/mixins' as mx;
@use '../abstracts/variables/colors' as colors;
@use '../abstracts/variables/media_queries' as mq;

.pet-profile {
    display: flex;
    gap: 1rem;
    flex-flow: column;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.js .slider-for > div:nth-child(1n + 2) {
    display: none;
}

.js .slider-for > div:nth-child(1n + 2) {
    display: block;
}

.slider-nav img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 1rem;
}
        
.slider-for img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 2%;
}

.slider-for .slick-prev {
    left: 25px;
    z-index: 999;
}

.slider-for .slick-next {
    right: 35px;
}

.slider-nav .slick-arrow {
    display: none;
}

.slick-track {
    left: unset !important;
    display: flex;
    justify-content: space-between;
}

.slider-nav .slick-slide.slick-current {
    border: 1px solid colors.$primary-color-main;
}

.gallery .draggable .slick-track{
    gap: 1%;
}

.other-details {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    > div {
        display: grid;
        gap: 1rem;
    }

    p{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.pet-details {
    padding: 0 2rem;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
}

.pet-profile-main {
    padding: 2rem 2%;
}

.pet-profile-main .pet-name {
    font-size: 22px;
    margin-bottom: 1rem;
}

.adopt-btn{
    display: flex;
    justify-content: center;
}

.pet-img-size img{
    width: 1rem;
    height: 1rem;
}

@media screen and (min-width: mq.$media-tablet-width){
    .pet-profile{
        flex-flow: unset;
    }
    .gallery-container{
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .pet-profile-main {
        @include mx.maxwidth;
    }
}