/* Rehome ==================================== */
@use '../abstracts/variables/colors' as colors;
@use '../abstracts/mixins/mixins' as mx;
@use '../abstracts/variables/typography' as t;
@use '../abstracts/variables/media_queries' as mq;

.content-center {
    // display: grid;
    // justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;
}

.rehome-main {
    h2 {
        color: colors.$accent-color-main;
        margin-bottom: 1rem;
    }

    .text-input {
        // width: 360px;
        box-sizing: border-box;
        width: 100%;
    }
}

#tab-2, #tab-3 {
    margin-bottom: 2rem;
}

.rehome-container {
    display: flex;
    gap: 2rem;

    > div {
        width: 50%;
        flex: 0 1 auto;
    }

    > div:nth-child(2) > div:first-of-type {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pet-category {
        border: 1px solid colors.$primary-color-main;
        border-radius: 0.5rem;
        width: 30%;
        text-align: center;
        padding: 1rem 0;
    }
    
    h2 {
        @include mx.raleway-typography(20);
        font-weight: bold;
        margin-bottom: 2rem
    }

    p {
        @include mx.raleway-typography(18);
    }  
    
    .col-right {
        padding: 3rem 2%;
    }
}
.col-left {
    position: relative;

    h1 {
        @include mx.baloo-typography(50);
        font-weight: 900;
        line-height: 1;

        position: absolute;
        bottom: 0;
        padding: 3rem;
        color: colors.$neutral-color-white;
        z-index: 1000;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
}

.col-left::before {
    content:"";
    @include mx.position(absolute);

    background: rgba(0,0,0,0.4);
    z-index:999;
}

.col-right {
    display: grid;
    align-content: space-around;

    > div:last-of-type {
        text-align: right;
    }
}

.pet-category.active {
    background-color: colors.$primary-color-main
}

.active-pet,
#tab-progress,
#tab-2,
#tab-3 {
    display: none;
}

.active-pet {
    margin-left: auto;
    margin-right: auto;
}

.active-pet.barn {
    margin-bottom: 1.2rem;
}

label {
    display: grid;
    gap: 0.5rem;
}

#tab-2{
    box-sizing: border-box;
}

.rehome-pet {
    margin: 2rem 0;
    box-sizing: border-box;
}

#tab-progress div p span{
    display: block;
}

select,
textarea {
    border: 1px solid colors.$neutral-color-grey-l;
    // width: 395px;
    height: 40px;
    outline: 0;
    border-radius: 0.3rem;
    box-sizing: border-box;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.radio-slider {
    @include mx.position(absolute);

    cursor: pointer;
    background-color: colors.$neutral-color-grey;
    -webkit-transition: .4s;
    transition: .4s;
    width: 4rem;
}
  
.radio-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: colors.$neutral-color-white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .radio-slider {
    background-color: colors.$primary-color-main;
}
  
input:focus + .radio-slider {
    box-shadow: 0 0 1px colors.$primary-color-main;
}
  
input:checked + .radio-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.radio-slider.round {
    border-radius: 34px;
}
  
.radio-slider.round:before {
    border-radius: 50%;
}
.toggle-attributes {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.toggle-attributes label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 2rem;
    width: 50%;
}

.upload-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid colors.$neutral-color-grey-l;
}

.displayImages {
    display: flex;
}

#tab-2 form > div:not(:last-of-type) {
    margin-bottom: 2rem;
}

#tab-2 form > div:last-of-type,
#tab-3 form > div:last-of-type {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    margin: 1rem 0;
}


#tab-progress {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    justify-self: center;
    align-items: end;
    padding: 2rem 0;
}


.progress-holder {
    display: inline-flex;
    overflow: hidden;
    background-color: colors.$neutral-color-grey-l;
    text-align: center;
    border-radius: 0.25rem;
    margin: 0.2em 0;
    height: 0.5rem;
    width: 100%;
}

.progress-bar {
    width: 0%;
    background-color: colors.$primary-color-main;
}

.modal {
    @include mx.modalBackground;
}

.modal.modal-active {
    opacity: 1 !important;
    visibility: visible;
}

.modal-content {
    @include mx.position(both-center);
    background-color: colors.$neutral-color-white;
    width: 50%;
    margin: auto;
    padding: 3rem;
    text-align: center;

    h2 {
        margin-bottom: 1rem;
    }
}

.lottie {
    @include mx.position(both-center);
    margin: auto;
    width: 50%;
    text-align: center;
}

option{
    box-sizing: border-box;
}

.controls {
    margin-top: 3rem;

    a {
        color: colors.$neutral-color-grey-d;
        text-decoration: underline;
        margin-top: 1rem;
        font-size: 14px;
    }
}

.rehome-container{
    .col-left{
        display: none;
    }

    >div{
        width: 100%;
    }

    > div:nth-child(2) > div:first-of-type {
        gap: 0.5rem;
    }
}

.form-fields{
    display: grid;
    gap: 1rem;
}

#tab-2, #tab-3, #tab-progress.active{
    // max-width: 600px;
    margin: auto;
    padding: 50px 0 10px 0;
}

#tab-progress {
    display: none;
}

@media screen and (min-width: mq.$media-mobile-width){
    #tab-progress div p span{
        display: unset;
    }
}

@media screen and (min-width: mq.$media-tablet-width) {
    .form-fields {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #ptype{
        width: 48%;
    }

    .rehome-container .col-left{
        display: unset;
    }

    #tab-progress.active {
        display: grid;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        @include mx.maxwidth;
    }
}

