@use '../abstracts/mixins/mixins' as mx;
@use '../abstracts/variables/colors' as colors;

/* User Profile =========================== */
.user-profile-main {
    padding: 2rem 0;
}

#section-tab {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    width: 70%;
    margin: auto;

    border-bottom: 1px solid colors.$neutral-color-grey-l;
}

.user-profile-main .content {
    display: none;

    margin: 2rem 0;
}

.user-profile-main .content.current {
    display: block;
}

.nav-item.current {
    border-bottom: 2px solid colors.$primary-color-main;
}

.nav-item {
    padding: 1rem;
}

.about {
    display: flex;
}

#responseButtonsModal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;

    span {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
}

.response-buttons {
    display: flex;
    gap: 1rem;
}

#animalDetails {
    @include mx.flex-center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#animalDetails > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    width: 50%;
}

#animalDetails > div span {
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .user-profile-main {
        @include mx.maxwidth;
    }

    .modal-content {
        max-width: 700px;
    }
}